.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}


.chart-description {
  width: 200px;
}

.center {
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.fonts {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}